<br>
<div class="row" style=" background-color: darkgray; overflow-x: scroll; height: 550px;">
  <div class="col-sm-3" style="margin-top: 1.5rem;" *ngFor="let item of listadoItems">
    <a href="/items/{{item.id}}" style="text-decoration: none;">
      <mat-card [ngStyle]="{'background-color': (item.quantity==0) ? '#bd4444' : (item.quantity<=3 ? '#b36445':'#459eb3')}">
        <mat-card-content>
          <img mat-card-image src="{{item.image}}" alt="Imagen de {{item.name}}">
        </mat-card-content>
        <mat-card-footer >
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>Cantidad: {{item.quantity}}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </a>
  </div>
</div>
