<br>
<div style="width: 100%;">
  <div class="row">
    <div class="col">
      <app-items></app-items>
    </div>
    <div class="col">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
</div>



<!--<div>
  <div *ngFor="let item of listadoItems">
    <h3>{{ item.name }}</h3>
    <button (click)="borrarItem(item.id!)"> Borrar</button>
  </div>-->

  <!-- <button mat-button color="primary" (click)="crearItem()">Crear Item</button> -->
<!--  <button mat-raised-button color="primary" (click)="crearItem()">Crear Item prueba</button>
  <button (click)="authService.logout()">logOut</button>
</div>
-->
